html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0; margin: 0;
}

html,body{
  display: block;
  height: 100%; width: 100%;
  overflow: auto;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #333;
}

ul,li,a{
  margin: 0; padding: 0;
  list-style:none;
  text-decoration: none;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  grid-template-areas:  "header"
                        "main-container"
                        "formcontact"
                        "footer";
}

/* .box {
  background: #333;
  color: #fff;
  padding: 20px;
} */

.header{
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: repeat(2, 1fr);
  grid-template-areas:  "logo"
                        "menu";
  background-color: #fbb03b;
  text-align: center;
}

.logo {
  grid-area: logo;
}

.menu {
  grid-area: menu;
  width: 800px;
  height: 50px;
  background-color: #333;
  overflow: hidden;
  margin-left: 100px;
  border-radius: 10px 10px 10px 10px;
  margin-top: 30px;
  margin-right: 20px;
}

.menu a {
  float: left;
  color: #E8DFD9;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.menu a:hover {
  background-color: #555;
  color: #fbb03b;
}

.menu-right {
  float: right;
  margin-left: 50px;
}

.main-container {
  grid-area: main-container;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: repeat(4, 1fr);
  grid-template-areas:  "content01"
                        "content02"
                        "content03"
                        "content04";
  background-color: #333;
  color: #fff;
  margin: 5px;
}

.content01, .content02, .content03, .content04 {
  text-align: center;
}

.content01 {
  grid-area: content01;
  padding: 5px;
  margin-top: 20px;
}

.content01 h1 {
  font-size: 40px;
}

.content01 p {
  font-size: 15px;
  color: #bbb;
}

.content02, .content03, .content04 {
  padding: 10px;
  margin: 10px;
}

.content02 h3, .content03 h3, .content04 h3 {
  color: #E8DFD9;
  font-size: 25px;
  font-style: italic;
  margin-bottom: 10px;
}

.content02 p, .content03 p, .content04 li {
  color: #fff;
}

.content02 {
  grid-area: content02;
}

.content03 {
  grid-area: content03;
}

.content04 {
  grid-area: content04;
}

.content04 ol li {
}

.content04 ol li:before {
  content: "•";
  padding-right: 8px;
  color: #fbb03b;
}

.title{
  grid-area: title;
}

.firstname{
  grid-area: firstname;
}

.inputfn{
  grid-area: inputfn;
}

.lastname{
  grid-area: lastname;
}

.inputln{
  grid-area: inputln;
}

.message{
  grid-area: message;
}

.button{
  grid-area: button;
}

.formcontact {
  grid-area: formcontact;
  border: 1px solid #fbb03b;
  margin: 10px 40px;
  color: #fbb03b;
  border-radius: 10px 10px 10px 10px;
  position: relative;
  text-align: center;
  /* display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: repeat(7, 1fr);
  grid-template-areas:  "title"
                        "firstname"
                        "inputfn"
                        "lastname"
                        "inputln"
                        "message"
                        "button"; */
}

.formcontact h3{
  background-color: #fbb03b;
  color: #000;
  border-radius: 5px 5px 0px 0px;
  padding: 5px;
  font-size: 20px;
}

.formcontact form{
  margin: 10px;
}

.formcontact label {
  font-weight: bold;
}

.formcontact input, .formcontact textarea{
  background-color: #444849;
  color: #E8DFD9;
  border: 1px solid #000;
  border-radius: 10px 10px 10px 10px;
  padding: 5px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 18px;
}

.formcontact input {
  margin: 10px;
}

.formcontact button {
  background-color: #444849;
  color: #ccc;
  padding: 5px;
  font-size:18px;
  border-radius: 5px 5px 5px 5px;
  position: relative;
  bottom: 40px;
}

.formcontact button:hover {
  background-color: #333;
  color: #fbb03b;

}

.footer {
  grid-area: footer;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  padding-top: 50px;
}

.footer span a{
  color: #ccc;
}

.footer span a:hover{
  color: #FF4F11;
}






/* Changement avec resolution ecran */

@media (min-width: 576px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:  "header"
                          "main-container"
                          "formcontact"
                          "footer";
  }
  .header{
    grid-template-columns: 1fr;
    grid-auto-rows: repeat(2, 1fr);
    grid-template-areas:  "logo"
                          "menu";
  }
  .main-container {
    grid-template-columns: 1fr;
    grid-auto-rows: repeat(4, 1fr);
    grid-template-areas:  "content01"
                          "content02"
                          "content03"
                          "content04";
  }
  /* .formcontact{
    grid-template-columns: 1fr;
    grid-auto-rows: repeat(7, 1fr);
    grid-template-areas:  "title"
                          "firstname"
                          "inputfn"
                          "lastname"
                          "inputln"
                          "message"
                          "button";
  } */
}

@media (min-width: 768px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:  "header header"
                          "main-container main-container"
                          "formcontact formcontact"
                          "footer footer";
  }
  .header{
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    grid-template-areas:  "logo menu";
  }
  .main-container {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: repeat(3, 1fr);
    grid-template-areas:  "content01 content01"
                          "content02 content03"
                          "content04 content04";
  }
  /* .formcontact{
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: repeat(5, 1fr);
    grid-template-areas:  "title title"
                          "firstname inputfn"
                          "lastname inputln"
                          "message message"
                          "button button";
  } */
}

@media (min-width: 992px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:  "header header"
                          "main-container main-container"
                          "formcontact formcontact"
                          "footer footer";
  }
  .header{
    grid-template-columns: 150px 1fr;
    grid-auto-rows: 1fr;
    grid-template-areas:  "logo menu";
  }
  .main-container {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: repeat(3, 1fr);
    grid-template-areas:  "content01 content01"
                          "content02 content03"
                          "content04 content04";
  }
  /* .formcontact{
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: repeat(4, 1fr);
    grid-template-areas:  "title title title title"
                          "firstname inputfn lastname inputln"
                          "message message message message"
                          "button button button button";
  } */
}

@media (min-width: 1200px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:  "header header"
                          "main-container main-container"
                          "formcontact formcontact"
                          "footer footer";
  }
  .header{
    grid-template-columns: 150px 1fr;
    grid-auto-rows: 1fr;
    grid-template-areas:  "logo menu";
  }
  .main-container {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: repeat(3, 1fr);
    grid-template-areas:  "content01 content01"
                          "content02 content03"
                          "content04 content04";
  }
  /* .formcontact{
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: repeat(4, 1fr);
    grid-template-areas:  "title title title title"
                          "firstname inputfn lastname inputln"
                          "message message message message"
                          "button button button button";
  } */
}
