/*----------------------------
    General All browser
-----------------------------*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0; margin: 0;
}

html,body {
  display: block;
  height: 100%; width: 100%;
  overflow: none;
}

ul,li,a {
  margin: 0; padding: 0;
  list-style:none;
  text-decoration: none;
}


/*----------------------------
    Progress Bar
-----------------------------*/

.progress {
    background: #222;
    border-radius: 13px;
    height: 15px;
    width: 100%;
    padding: 2px;
}

.pHTML:after {
    content: '';
    display: block;
    background: #fbb03b;
    width: 98%;
    height: 100%;
    border-radius: 8px;
}

.pCSS:after {
    content: '';
    display: block;
    background: #fbb03b;
    width: 85%;
    height: 100%;
    border-radius: 9px;
}

.pPHP:after {
    content: '';
    display: block;
    background: #fbb03b;
    width: 28%;
    height: 100%;
    border-radius: 9px;
}

.pJAVASCRIPT:after {
    content: '';
    display: block;
    background: #fbb03b;
    width: 40%;
    height: 100%;
    border-radius: 9px;
}

.pIONIC:after {
    content: '';
    display: block;
    background: #fbb03b;
    width: 30%;
    height: 100%;
    border-radius: 9px;
}

.pANGULAR:after {
    content: '';
    display: block;
    background: #fbb03b;
    width: 20%;
    height: 100%;
    border-radius: 9px;
}

.pFIREBASE:after {
    content: '';
    display: block;
    background: #fbb03b;
    width: 30%;
    height: 100%;
    border-radius: 9px;
}

.pPYTHON:after {
    content: '';
    display: block;
    background: #fbb03b;
    width: 10%;
    height: 100%;
    border-radius: 9px;
}

/*----------------------------
    HEADER & MENU
-----------------------------*/
header {
}

.menu {
  /* background-color: #fbb03b; */
  width: 100%;
  top: 0;
	overflow: hidden;
  border-bottom: 4px solid #c6821b;
  background: #fbb03b;
}

.titleWeb {
  color: #000;
  font-size: 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 50px;
  margin-left: 50px;
  /* background: #c6821b; */
  padding: 20px;
}

.menu ul {
  float: right;
  margin: 0 100px 0 0;
  padding: 0;
  display: flex;
  background: #fbb03b;
  /* justify-content:space-around; */
  /* background: rgba(251, 176, 59, .5) */
}

.menu ul li {
  list-style: none;
  line-height: 50px;
}

.menu ul li a{
  display: block;
  padding: 0 20px;
  color: #222;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  /* padding: 0 10px 0 10px; */
}

.menu ul li a i {
  color: #222;
}

.menu ul li a:hover,
.menu ul li a:hover i,
.menu ul li a.active i,
.menu ul li a.active {
  color: #fff;
  background-color: #222;
  /* background: #3a280c; */
}

/*----------------------------
    TEMPLATE
-----------------------------*/

.wrapper {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #222;
}

.main {
  padding: 20px 100px;
  display: grid;
  grid-template-columns: 20% 80% ;
  grid-template-rows: repeat(5, auto);
  grid-gap: 2px 20px;
  grid-template-areas:  "me professional-skills"
                        "me work-experience"
                        "me formation"
                        "me study"
                        "me contact";
}

/*----------------------------
    ME -- LEFT
-----------------------------*/

.me {
  grid-area: me;
  background: #fbb03b;
}

.socials, .logo, .presentation, .phone, .mail, .hobbies{
  text-align: center;
  padding: 10px;
  /* color: #603e0b; */
}

.mail a, .phone p, .presentation p{
  font-size: 12px;
}

.mail i, .phone i, .presentation i, .hobbies i{
  font-size: 1.4em;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-bottom: 10px;
}

.logo {
  padding-top: 20px;
}

.logo img {
  width: 100%;
  max-width: 150px;
}

.socials a i {
  color: #222;
  margin-bottom: 20px;
}

.socials a i:hover {
  color: #666;
}

.presentation {
  margin: 20px 5px 10px 5px;
  padding: 0 0 20px 0;
  color: #222;
  font-weight: bold;
}

.border {
  border-bottom: 2px solid #c6821b;
  margin-left: 40px;
  margin-right: 40px;
}

.phone {
  margin: 20px 5px 10px 5px;
  padding: 0 0 20px 0;
  color: #222;
  font-weight: bold;
  /* border-bottom: 2px solid #c6821b;
  border-radius: 10px; */
}

.mail {
  margin: 20px 5px 10px 5px;
  padding: 0 0 20px 0;
  color: #222;
  font-weight: bold;
}

.mail a {
  margin: 10px 5px 30px 5px;
  color: #222;
  font-weight: bold;
  text-decoration: none;
}

.mail a:hover {
  color: #666;
}

.hobbies {
  margin: 10px;
  color: #222;
  font-weight: bold;
}

.hobbies i {
  margin-top: 10px;
  color: #222;
}

/*----------------------------
    MAIN -- RIGHT
-----------------------------*/

.professional-skills, .work-experience, .formation, .study, .contact {
    background-color: #ddd;
    padding: 10px;
}

.professional-skills h2, .work-experience h2, .formation h2, .study h2, .contact h2 {
    color: #555;
    text-transform: capitalize;
}

.professional-skills p, .work-experience p, .formation p, .study p {
  padding: 5px;
}

.professional-skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr) ;
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  grid-template-areas:  "skillTitle skillTitle skillTitle"
                        "skillOne skillTwo skillThree";
}

.skillOne {
  grid-area: skillOne;
  margin: 10px;
}

.skillTwo {
  grid-area: skillTwo;
  margin: 10px;
}

.skillThree {
  grid-area: skillThree;
  margin: 10px;
}

.work-experience {
}

.formation {
}

.study {
}

.contact {
}

.footer {
  background: #fbb03b;
  color: #222;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}




/*----------------------------
Contenu Me
-----------------------------*/

.me {
  color: #f2f2f2;
}
